<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>911884248149-jmdhl0b02q9l4a4ldhis76ht024ousts.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.911884248149-jmdhl0b02q9l4a4ldhis76ht024ousts</string>
	<key>API_KEY</key>
	<string>AIzaSyCE_rk2KMiFdoMkU5W32G9O0PQItnOkSPE</string>
	<key>GCM_SENDER_ID</key>
	<string>911884248149</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.satkis.wallpaper</string>
	<key>PROJECT_ID</key>
	<string>wallpaper-6d603</string>
	<key>STORAGE_BUCKET</key>
	<string>wallpaper-6d603.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:911884248149:ios:37398ea0cdf61357</string>
	<key>DATABASE_URL</key>
	<string>https://wallpaper-6d603.firebaseio.com</string>
</dict>
</plist>
